#container {
  width: 100%;
  cursor: pointer;
}

.square {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 25rem;
  height: 25rem;
  padding: 2%;
  background-color: white;
  color: #fbb82b;
  font-weight: bold;
  font-size: 3.5rem;
}
.square span {
  display: block;
}

#under-square {
  margin: 2rem 0 1rem 2rem;
  height: 4rem;
}
h4 {
  margin: 0;
  font-size: 1.8rem;
}

#pluses {
  list-style: none;
}

#pluses li {
  font-size: 1.5rem;
  font-weight: bold;
}

#pluses li:before {
  font-size: 1.5rem;
  font-weight: bold;
  content: "+";
}
